<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <br>

    <div class="container-fluid">
        <a class="btn btn-success" href="/">Home</a>
        <br>
        <br>
        <form action="/articles" method="POST">
            <div class="form-group">
                <label for="title">Title</label>
                <input class="form-control" type="text" name="title" placeholder="Title" id="title">
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" name="description" id="drscription" cols="30" rows="10"
                    placeholder="Description"></textarea>
                <div class="form-group">
                    <label for="tags">Tags</label>
                    <input class="form-control" type="text" name="tags" placeholder="tags" id="tags">
                </div>
                <div class="form-group">
                    <label for="likes">Likes</label>
                    <input class="form-control" type="number" name="likes" placeholder="likes" id="likes">
                </div>
                <div class="form-group">
                    <input class="btn btn-success" type="submit" value="Publish Article">
                    <a class="btn btn-danger" href="/articles">Cancel</a>
                </div>
        </form>
    </div>
</body>
</body>

</html>