<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>

    <div class="container-fluid">
        <br>
        <br>
        <h3>Are you sure, to delete this article</h3>
        <h2><%= article.title%></h2>
        <br>
        <a class="btn btn-danger" href="/articles/delete/article/<%=article.id%>">Delete</a>
        &nbsp;&nbsp;&nbsp;
        <a class="btn btn-success" href="/articles/<%=article.id%>"">Cancel</a>

    </div>
</body>

</html>